* {
    padding: 0;
    margin: 0;
}

nav, header, .sponsors {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: antiquewhite; /* это чтобы можно было лучше видит блоки. */
    margin: 10px;
    padding: 10px 40px;
    justify-content: space-around;
}

.startbtns {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.offer {
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
}

.sponsors {
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}

.active {
    color: #d03e16;
}

.btn-primary {
    background-color: #d03e16;
    padding: 5px 7px;
    border-radius: 50%;
    color: white;
}