* {
    padding: 0;
    margin: 0;
}

.pad-around {
    padding: 10px 10%;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    display: grid;
    grid-template-columns: 50fr 50fr;
    background-color: #F1E4E6;
    height: 100vh;
}

.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-deals {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
}

.for-women, .for-men, .for-kids {
    height: 260px;
}

.fat-promo {
    width: 100fr;
    height: 200px;
}

.items-grid {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: 50fr 50fr;
}

.item {
    background-color: #eee;
    margin: 10px;
}

.item-desc {
    padding: 10px;
}

.item-desc p {
    font-size: small;
}

.hot-pink-text {
    color: #f16D7f;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #f16D7f;
    border-radius: 5px;
    color: #f16D7f;
}

.featured-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}