* {
    padding: 0;
    margin: 0;
}

.pad-around {
    padding: 20px 10%;
    margin: 25px 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

header {
    display: grid;
    grid-template-columns: 50fr 50fr;
    background-color: #F1E4E6;
    height: 100vh;
}

.branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hot-deals {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
}

.for-women, .for-men, .for-kids {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.for-women {
    margin-right: 10px;
}

.for-kids {
    margin-left: 10px;
}

.for-men {
    margin: 0 10px;
}

.fat-promo {
    width: 100fr;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.items-grid {
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: 50fr 50fr;
    margin: 20px 0;
}

.item {
    background-color: #eee;
    margin: 10px;
}

.item-desc {
    padding: 10px;
}

.item-desc p {
    font-size: small;
}

.hot-pink-text {
    color: #f16D7f;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid #f16D7f;
    border-radius: 5px;
    color: #f16D7f;
    padding: 10px 20px;
}

.featured-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pad-around {
        padding: 20px;
        margin: 10px 0;
    }

    .items-grid {
        display: grid;
        grid-template-columns: 50fr 50fr;
        grid-template-rows: 33fr 33fr 33fr;
        margin: 10px 0;
    }

    
    header {
        display: grid;
        grid-template-columns: 50fr 50fr;
        background-color: #F1E4E6;
        height: 33vh;
    }
}